#main>div.mainbar>div>div:nth-child(1) {
  display: none;
}

.bookmark-bar .default {
  height: 38px;
  padding: 0 0.5vw;
}

.UrlBar-AddressField {
  margin-left: 25px;
}

#header {
  --colorTabBar: #000000;
}

.tab-position .tab.active .tab-header .favicon {
  filter: none !important;
}

.tab {
  background-color: #121212 !important;
}

.tab.active {
  background-color: #2a2a2d !important;
}

.tab * .favicon {
  transform: scale(1) !important;
}

.tab * .tab-audio {
  margin-left: 20px !important;
}

.tab.audio-on * .title {
  padding-left: 22px !important;
}
